<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
</head>

<header>
   <%- include('../partials/header') %>
</header>
<<<<<<< HEAD
<body style="background-color: #FF9566;">
	<div class ="container">
		<p><h1>Add Medication</h1> <button class="btn btn-light btn-outline-dark"><a href="/users/">Back to users index</a></button> <button class="btn btn-light btn-outline-dark"><a href="../<%= pet.petID %>">Back to pet details</a></button></p>
	<form id="addMedication" enctype="multipart/formdata">
		<div class="form-group">
			<label for="petID" style="color: white; font-size: 20px">Pet ID:</label>
			<input type="text" class="form-control" id="petID" name="petID" value="<%= pet.petID %>" disabled>
		</div>
		<div class="form-group">
			<label for="medicationName" style="color: white; font-size: 20px">Medication Name:</label>
			<input type="text" class="form-control" id="medicationName" name="medicationName">
		</div>
		<div class="form-group">
			<label for="medType" style="color: white; font-size: 20px">Med Type:</label>
			<input type="text" class="form-control" id="medType" name="medType">
		</div>
		<div class="form-group">
			<label for="dosage" style="color: white; font-size: 20px">Dosage:</label>
			<input type="text" class="form-control" id="dosage" name="dosage">
		</div>
		<div class="form-group">
			<label for="numberOfDailyDoses" style="color: white; font-size: 20px">Number of Daily Doses:</label>
			<input type="text" class="form-control" id="numberOfDailyDoses" name="numberOfDailyDoses">
		</div>
		<div class="form-group">
			<label for="medNotes" style="color: white; font-size: 20px">Notes:</label>
			<input type="text" class="form-control" id="medNotes" name="medNotes">
		</div>

		<button type="submit" class="btn btn-primary" >Submit</button>
	</form>

	<script src="/assets/getAllURLParams.js"></script>

    <script src="/assets/cookies.js"></script>

    <script src="/assets/axios.min.js"></script>


	<script>
		// taken from code_12, 04, signup.html
=======
<body style="background-color: #FFF0DF;">
	<div class ="container">
		<p><h1>Add Medication</h1> <a href="/users/" class="btn btn-light btn-outline-dark">Back to users index</a> <a href="../<%= pet.petID %>" class="btn btn-light btn-outline-dark">Back to pet details</a></p>
	<form id="addMedication" enctype="multipart/formdata">
		<div class="form-group">
			<label for="petID" >Pet ID:</label>
			<input type="text" class="form-control" id="petID" name="petID" value="<%= pet.petID %>" disabled>
		</div>
		<div class="form-group">
			<label for="medicationName">Medication Name:</label>
			<input type="text" class="form-control" id="medicationName" name="medicationName">
		</div>
		<div class="form-group">
			<label for="medType">Med type:</label>
			<input type="text" class="form-control" id="medType" name="medType">
		</div>
		<div class="form-group">
			<label for="dosage">Dosage:</label>
			<input type="text" class="form-control" id="dosage" name="dosage">
		</div>
		<div class="form-group">
			<label for="numberOfDailyDoses">Number of daily doses:</label>
			<input type="text" class="form-control" id="numberOfDailyDoses" name="numberOfDailyDoses">
		</div>
		<div class="form-group">
			<label for="medNotes">Notes:</label>
			<input type="text" class="form-control" id="medNotes" name="medNotes">
		</div>

		<button type="submit" name="AddMedBtn" class="btn btn-primary" >Submit</button>
	</form>

	<script src="/assets/getAllURLParams.js"></script>
    <script src="/assets/cookies.js"></script>
    <script src="/assets/axios.min.js"></script>

	<!--Script for checking if current user is allowed to make changes.-->
	<script>
		window.addEventListener("load", (e) => {
		   e.preventDefault();
		   /*
			   On window load, check if the current user is allowed to make edits to the information displayed.
			   If user is not allowed to make changes, disable the buttons/links to the pages that would allow that.
			   On the edit/add/delete pages, remove the ability to submit the data.
		   */

		   // apparenlty this does not get autoformatted as a javascript object on client side. sadface.jpg
		   let cookieJar = document.cookie
		   // first split, temporary array.
		   const myArray = cookieJar.split(";")
		   // creating a js Object to use as a dictionary.
		   let cookiePlate = {}
		   // split fragment on = sign to get the CookieName and CookieValue
		   myArray.forEach(fragment => {
			   // getting rid of some excess spaces.
			   fragment = fragment.trim()
			   // do the splits splits splits
			   let fragmentParts = fragment.split("=")
			   
			   // if the fragmentPart has stuff in it, write to object//dictionary.
			   if(fragmentParts.length > 1)
			   {
				   let key = fragmentParts[0]
				   let value = fragmentParts[1]
					   
				   cookiePlate[key] = value
			   }
		   });
			   
		   // Checks if current user is allowed to make changes to the data (as determined serverside).
		   // If there is no "PetEditCookie" cookie, defaults to false.
		   let allowedToChange = cookiePlate["PetEditCookie"] === "true"
			   
		   // Grabs the element to be changed by name.
		   let AddMedBtn=document.querySelectorAll('[name="AddMedBtn"]')[0]
		   // changes the elements to not do anything.
		   if(allowedToChange == false)
		   {
			   AddMedBtn.disabled=true
		   }
		   else{
			   // allowed to make changes, do nothing.
		   }
		});
	</script>

   	<!-- Script for handling an edit submission. -->
	<script> 
		// taken from code_12, 04, signup.html	
>>>>>>> 6d92c74ece40a0d52f1533321250a130eb133bb2
		const addMedication=document.getElementById('addMedication')
		addMedication.addEventListener('submit',(e)=>{
			e.preventDefault();
            let petID=document.querySelectorAll('[name="petID"]')[0]
			let medicationName=document.querySelectorAll('[name="medicationName"]')[0]
			let medType=document.querySelectorAll('[name="medType"]')[0]
            let dosage=document.querySelectorAll('[name="dosage"]')[0]
            let numberOfDailyDoses=document.querySelectorAll('[name="numberOfDailyDoses"]')[0]
            let medNotes=document.querySelectorAll('[name="medNotes"]')[0]
            let urlportion=petID.value
<<<<<<< HEAD
=======
			
>>>>>>> 6d92c74ece40a0d52f1533321250a130eb133bb2
			axios({
			method: 'post',
			url: urlportion,
			data: {
<<<<<<< HEAD
=======
                
>>>>>>> 6d92c74ece40a0d52f1533321250a130eb133bb2
				petID:petID.value,
				medicationName:medicationName.value,
				medType:medType.value,
				dosage:dosage.value,
                numberOfDailyDoses:numberOfDailyDoses.value,
                medNotes:medNotes.value
			}
			})
			.then(function (response) {
				console.log(response);
			})
			.catch(function (error) {
				console.log(error);
			});
		})
<<<<<<< HEAD
	</script>
=======
	</script> 
>>>>>>> 6d92c74ece40a0d52f1533321250a130eb133bb2

</body>

<footer>
    <%- include('../partials/footer') %>
</footer>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> 6d92c74ece40a0d52f1533321250a130eb133bb2
