<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
</head>

<header>
   <%- include('../partials/header') %>
</header>
<body style="background-color: #FFF0DF;">
	<div class="container"><p><h1>Delete Pet</h1> <button><a href="/users/">Back to users index</a></button></p>
        <form id="deleteUser" enctype="multipart/formdata">
            <div class="form-group">
                <label for="deleteUser" style="color: #FFCD95;">Delete Pet?</label>
                <input type="text" class="form-control" id="petID" name="petID" aria-describedby="petID" placeholder="petID" value="<%= pet.petID %>" disabled>
            </div>          
            <div class="form-group">
                <input type="text" class="form-control" id="userID" name="userID" aria-describedby="userID" placeholder="userID" value="<%= pet.userID %>" style="display: none;">
            </div>
            <button type="button" class="btn btn-primary" id="deleteBtn">Submit</button>
        </form>
	</div>


    <script>
    	
		const deleteBtn=document.getElementById('deleteBtn')
		deleteBtn.addEventListener('click',()=>{
            let urlportion=petID.value
			
			axios({
			method: 'delete',
			url: '/petDetail/delete/' + urlportion,
			data: {
			}/*,
				validateStatus:()=>true*/
			})
			.then(function (response) {
				console.log(response);
			})
			.catch(function (error) {
				console.log(error);
			});
		})
	</script> 

</body>


<footer>
    <%- include('../partials/footer') %>
</footer>
</html>