<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
</head>

<header>
   <%- include('../partials/header') %>
</header>
<body style="background-color: #FF9566;">
	<div class="container"><p><h1 style="color: white">Delete Med</h1> <button href="/users/">Back to users index</button></p>
        <form id="deleteMed" enctype="multipart/formdata">
            <div class="form-group">
                <label for="deleteMed" style="color: #FFCD95;">Delete Med?</label>
                <input type="text" class="form-control" id="medID" name="deleteMed" aria-describedby="deleteMed" placeholder="deleteMed" value="<%= med.medID %>" disabled>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="petID" name="petID" aria-describedby="petID" placeholder="petID" value="<%= med.petID %>" style="display: none;">
            </div>
            <button type="button" class="btn btn-primary" id="deleteBtn">Submit</button>
        </form>
	</div>


    <script>
		const deleteBtn=document.getElementById('deleteBtn')
		deleteBtn.addEventListener('click',()=>{
            let urlportion = document.getElementById('medID').value;

			axios({
			method: 'delete',
			url: '/med/delete/' + urlportion,
			data: {
			}/*,
				validateStatus:()=>true*/
			})
			.then(function (response) {
				console.log(response);
			})
			.catch(function (error) {
				console.log(error);
			});
		})
	</script>

</body>


<footer>
    <%- include('../partials/footer') %>
</footer>
</html>
