<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>

    <style>
        main{
	        background-color:#FFF0DF;
	        margin:20px;
        }
        div .form-group{
            padding:10px;
            margin:20px;
        }
        #card{
            border-radius: 25px;
            border: 2px solid #a6763f;
            padding: 20px; 
            width: 200px;
            height: 150px;
        }
    </style>
</head>


<header>
    <%- include('../partials/header') %>
 </header>

<body style="background-color:#FFF0DF">
	<h1><%= med.medName %></h1>

    <div id="buttons" class="col-12">
        <a href="petDetail.html?petID=${pet.petID}">Back to Pet</a> | <a id="btn-edit" href="MedicationEdit.html?${med.medicationID}">Edit Info</a> | <button type="button" id="btn-delete">Delete Info</button>
    </div>
    <div class="container" id="medInfo">
        <!--medication identity-->
        <div class="container" style="padding: 20px;">
            <div class="row" id="med-ident">
            <div class="col-md-6">
                <img src="<%= med.medImage %>" alt="Pet Image" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2><%= med.medicationName %></h2>
                <p>Medication Type: <%= med.medType %></p>
                <ul>
                <li>Dosage: <span class="text-muted"><%= med.dosage %></span></li>
                <li>Number of Daily Doses: <span class="text-muted"><%= med.numberOfDailyDoses %></span></li>
                <li>Notes: <span class="text-muted"> <%= med.medNotes %></span></li>
                </ul>
            </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
<footer>
    <%- include('../partials/footer') %>
</footer>
</html>