<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>

    <style>
        main{
	        background-color:#FFF0DF;
	        margin:20px;
        }
        div .form-group{
            padding:10px;
            margin:20px;
        }
        #card{
            border-radius: 25px;
            border: 2px solid #a6763f;
            padding: 20px; 
            width: 200px;
            height: 150px;
        }
    </style>
</head>


<header>
    <%- include('../partials/header') %>
 </header>

<body style="background-color:#FFF0DF">
    <h1 style="padding: 20px; background-color: #FFCD95;"><%= pet.petName %></h1>
    <div class="container">
        <div class="navbar">
        <button><a href="/users/">Back to users index</a></button> | <button><a href="../userDetail/<%= pet.userID %>">Back to User</a></button> | <button><a id="btn-edit" href="../pet/edit/<%= pet.petID %>">Edit pet</a></button> | <button><a id="btn-add" href="../petDetail/addMedication/<%=pet.petID %>">Add Medication</a></button> | <button><a id="btn-delete" href="../petDetail/delete/<%= pet.petID %>">Delete</a></button>
        </div>
        <div id="petDetail">
            <div padding="20px" class="card-body card text-center">
             <!--This will hold the photo-->
                <div id="pet-photo"></div>
                <!--This will hold both pet ID and pet Name-->
                <div id="pet-ident">
                    <div class="row justify-content-start">
                        <div id="petID" class="col-4">ID #: <%= pet.petID %></div>
                        <div id="petName" class="col-4">Name: <%= pet.petName %></div>
                    </div>
                </div>
                <!-- This will hold both pet type and breed-->
                <div id="pet-kind">
                    <div class="row justify-content-start">
                        <div id="petSpecies" class="col-4">Species: <%= pet.petType %></div>
                        <div id="petBreed" class="col-4">Breed: <%= pet.petBreed %></div>
                    </div>
                </div>
                <!-- This will hold pet sex, age, and weight-->
                <div id="pet-stats">
                        <div class="row justify-content-start">
                        <div id="petSex" class="col-4">Sex: <%= pet.petSex %></div>
                        <div id="petDoB" class="col-4">Date of Birth: <%= pet.petDoB %></div>
                        <div id="petWeight" class="col-4">Weight: <%= pet.petWeight %></div>
                    </div>
                </div>
            </div>
        </div>
            <!-- This will hold the pagination for the medication-->
            <div style="padding: 20px;">
                <div id="medDetail"class="container">
                    <div class="row">
                        <% meds.forEach(function(med) { %>
                            <div class="col-sm-4">
                                <div class="card" style="width: 22rem;">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= med.medicationName %></h5>
                                        <h6 class="card-subtitle mb-2 text-muted"><%= med.MedType %></h6>
                                        <p class="card-text">Dose Amount: <%=med.dosage %></p>
                                        <p class="card-text">Notes: <%= med.medNotes %></p>
                                        <a href="../medDetail/<%= med.medID %>" class="btn btn-outline-dark">Details</a>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        <!--Script for checking if current user is allowed to make changes.-->
        <script>
            window.addEventListener("load", (e) => {
                e.preventDefault();
                /*
                    On window load, check if the current user is allowed to make edits to the information displayed.
                    If user is not allowed to make changes, disable the buttons/links to the pages that would allow that.
                    On the edit/add/delete pages, remove the ability to submit the data.
                */
    
                // apparenlty this does not get autoformatted as a javascript object on client side. sadface.jpg
                let cookieJar = document.cookie
                // first split, temporary array.
                const myArray = cookieJar.split(";")
                // creating a js Object to use as a dictionary.
                let cookiePlate = {}
                // split fragment on = sign to get the CookieName and CookieValue
                myArray.forEach(fragment => {
                    // getting rid of some excess spaces.
                    fragment = fragment.trim()
                    // do the splits splits splits
                    let fragmentParts = fragment.split("=")
                    
                    // if the fragmentPart has stuff in it, write to object//dictionary.
                    if(fragmentParts.length > 1)
                    {
                        let key = fragmentParts[0]
                        let value = fragmentParts[1]
                        
                        cookiePlate[key] = value
                    }
                });
                
                // Checks if current user is allowed to make changes to the data (as determined serverside).
                // If there is no "PetEditCookie" cookie, defaults to false.
                let allowedToChange = cookiePlate["PetEditCookie"] === "true"
                
                // Grabs the element to be changed by name.
                let petEditBtn=document.querySelectorAll('[name="petEditBtn"]')[0]
                let medAddBtn=document.querySelectorAll('[name="medAddBtn"]')[0]
                let petDltBtn=document.querySelectorAll('[name="petDltBtn"]')[0]
                // changes the elements to not do anything.
                if(allowedToChange == false)
                {
                    petEditBtn.href="#"
                    petEditBtn.onclick="return false;"
    
                    medAddBtn.href="#"
                    medAddBtn.onclick="return false;"
                    
                    petDltBtn.href="#"
                    petDltBtn.onclick="return false;"
                }
                else{
                    // allowed to make changes, do nothing.
                }
            });
        </script>

</body>
<footer>
    <%- include('../partials/footer') %>
</footer>
</html>