<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
	<script src="../../public/assets/axios.min.js"></script>
</head>

<header>
   <%- include('../partials/header') %>
</header>
<body style="background-color: #FFF0DF;">
<h1>User Edit</h1>
<a href="/users/">Back to users index</a>
<form id="editUser" enctype="multipart/formdata">
	<div class="form-group">
	  <label for="firstName">User's First Name:</label>
	  <input type="text" class="form-control" id="firstName" name="firstName" aria-describedby="userFirstNameInput" value="<%= user.firstName %>">
	</div>
	<div class="form-group">
		<label for="lastName">User's Last Name:</label>
		<input type="text" class="form-control" id="lastName" name="lastName" value="<%= user.lastName %>">
	  </div>
	  <div class="form-group">
		  <label for="emailAddress">Email:</label>
		  <input type="text" class="form-control" id="emailAddress" name="email" value="<%= user.emailAddress %>">
	</div>

	<button type="submit" class="btn btn-primary" >Submit</button>
  </form>

 <script>
	// stolen from code_12, 04, signup.html	
	const editUser=document.getElementById('editUser')

	editUser.addEventListener('submit',(e)=>{
		e.preventDefault();
		let emailAddress=document.querySelectorAll('[name="email"]')[0]
		let firstName=document.querySelectorAll('[name="firstName"]')[0]
		let lastName=document.querySelectorAll('[name="lastName"]')[0]
		let userID=getAllUrlParams().userID

		//let password=document.querySelectorAll('[name="password"]')[0]
		axios({
		  method: 'post',
		  url: '/user/edit/'+ userID,
		  data: {
			firstName:firstName.value,
			lastName:lastName.value,
			emailAddress:emailAddress.value
		  }/*,
			validateStatus:()=>true*/
		})
			console.log(url)
		  .then(function (response) {
			console.log(response);
		  })
		  .catch(function (error) {
			console.log(error);
		  });
	})
  </script>

	<script src="/public/assets/getAllURLParams.js"></script>


</body>

<footer>
    <%- include('../partials/footer') %>
</footer>
</html>