<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
</head>

<header>
   <%- include('../partials/header') %>
</header>
<body style="background-color: #FFF0DF;">
	<div class="container"><p><h1>User Edit</h1> <button><a href="/users/">Back to users index</a></button></p>

	<form id="editUser" enctype="multipart/formdata">
		<div class="form-group">
			<label for="userID" >User ID:</label>
			<input type="text" class="form-control" id="userID" name="userID" value="<%= user.userID %>" disabled>
		</div>
		<div class="form-group">
		<label for="firstName">User's First Name:</label>
		<input type="text" class="form-control" id="firstName" name="firstName" aria-describedby="userFirstNameInput" value="<%= user.firstName %>">
		</div>
		<div class="form-group">
			<label for="lastName">User's Last Name:</label>
			<input type="text" class="form-control" id="lastName" name="lastName" value="<%= user.lastName %>">
		</div>
		<div class="form-group">
			<label for="emailAddress">Email:</label>
			<input type="text" class="form-control" id="emailAddress" name="email" value="<%= user.emailAddress %>">
		</div>

		<button type="submit" class="btn btn-primary" >Submit</button>
	</form>

		<script src="/assets/getAllURLParams.js"></script>
		<script src="/assets/cookies.js"></script>

		<script> 
			// taken from code_12, 04, signup.html	
			const editUser=document.getElementById('editUser')
			editUser.addEventListener('submit',(e)=>{
				e.preventDefault();
				let userID=document.querySelectorAll('[name="userID"]')[0]
				let emailAddress=document.querySelectorAll('[name="email"]')[0]
				let firstName=document.querySelectorAll('[name="firstName"]')[0]
				let lastName=document.querySelectorAll('[name="lastName"]')[0]
				let urlportion=userID.value
				//let password=document.querySelectorAll('[name="password"]')[0]
				axios({
				method: 'post',
				url: '/user/edit/'+ urlportion,
				data: {
					userID:userID.value,
					firstName:firstName.value,
					lastName:lastName.value,
					emailAddress:emailAddress.value
				}/*,
					validateStatus:()=>true*/
				})
				.then(function (response) {
					console.log(response);
				})
				.catch(function (error) {
					console.log(error);
				});
			})
		</script> 
	</div>
</body>

<footer>
    <%- include('../partials/footer') %>
</footer>
</html>