<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>

<header>
   <%- include('../partials/header') %>
</header>

<body style="background-color:#FF9566">
    <h1 style="padding: 20px; background-color: #FF9566;"><%= user.firstName %> <%= user.lastName %></h1>
    <div style="padding-left:20px;">
            <a href="/users/" class="btn btn-light btn-outline-dark">Back to Users</a> | <a id="btn-edit" class="btn btn-light btn-outline-dark" name="userEditHref" href="/user/edit/<%= user.userID %>">Edit User</a> | <a id="btn-add" class="btn btn-light btn-outline-dark" name="addPetHref" href="/userDetail/addPet/<%= user.userID %>">Add Pet</a> | <a id="btn-delete" class="btn btn-light btn-outline-dark" name="delHref" href="/userDetail/delete/<%= user.userID %>">Delete</a>

    </div>
    <div id="userDetail">
        <div style="padding: 20px;">
            <div class="card text-center">
                <div class="card-body"> 
                    <h5 class="card-title" id="nameOfUser"><%= user.firstName %> <%= user.lastName %></h5>
                    <p class="card-text" id="userEmail"><%= user.emailAddress %></p>
                </div>  

            </div>
        </div>
    </div>

    <div class="container text-center"><b>Pets</b></div>

    <div style="padding: 20px;">
        <div id="petDetail"class="container">
            <div class="row">
                <% pets.forEach(function(pet) { %>
                    <div class="col-sm-4">
                        <div class="card" style="width: 22rem;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #faa24f; font-size: 20px;"><%= pet.petName %> </h5>
                                <p class="card-text" style="color: #fdbc70;">Species: <%= pet.petType %></p><p class="card-text" style="color: #fdbc70;">Gender: <%= pet.petSex %></p> 
                                <p class="card-text" style="color: #fdbc70;">Breed: <%= pet.petBreed %></p> <p class="card-text" style="color: #fdbc70;">Weight: <%= pet.petWeight %></p>

                                <a href="../petDetail/<%= pet.petID %>" class="btn btn-outline-dark">Details</a>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>

</body>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</html>
