<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>

<header>
   <%- include('../partials/header') %>
</header>

<<<<<<< HEAD
<body style="background-color:#FF9566">
    <h1 style="padding: 20px; background-color: #FF9566;"><%= user.firstName %> <%= user.lastName %></h1>
    <div style="padding-left:20px;">
            <button class="btn btn-light btn-outline-dark"><a href="/users/">Back to users index</a></button> | <button class="btn btn-light btn-outline-dark"><a id="btn-edit" href="../user/edit/<%= user.userID %>">Edit User</a></button> | <button class="btn btn-light btn-outline-dark"><a id="btn-add" href="../userDetail/addPet/<%= user.userID %>">Add Pet</a> </button> | <button type="submit"><form method=".delete" action="../userDetail/<%= user.userID %>?_method=DELETE">Delete</form></button>
=======
<body>
    <h1 style="padding: 20px; background-color: #FFCD95;"><%= user.firstName %> <%= user.lastName %></h1>
    <div style="padding-left:20px;">
<<<<<<< HEAD
            <a href="/users/" class="btn btn-light btn-outline-dark">Back to Users</a> | <a id="btn-edit" class="btn btn-light btn-outline-dark" name="userEditHref" href="/user/edit/<%= user.userID %>">Edit User</a> | <a id="btn-add" class="btn btn-light btn-outline-dark" name="addPetHref" href="/userDetail/addPet/<%= user.userID %>">Add Pet</a>| <a id="btn-delete" class="btn btn-light btn-outline-dark" name="delHref" href="/userDetail/delete/<%= user.userID %>">Delete</a>
>>>>>>> 6d92c74ece40a0d52f1533321250a130eb133bb2
=======
            <a href="/users/" class="btn btn-light btn-outline-dark">Back to Users</a> | <a id="btn-edit" class="btn btn-light btn-outline-dark" name="userEditHref" href="/user/edit/<%= user.userID %>">Edit User</a> | <a id="btn-add" class="btn btn-light btn-outline-dark" name="addPetHref" href="/userDetail/addPet/<%= user.userID %>">Add Pet</a> | <a id="btn-delete" class="btn btn-light btn-outline-dark" name="delHref" href="/userDetail/delete/<%= user.userID %>">Delete</a>
>>>>>>> 07f5aa9368f5762fa48a4fbb65b6a180be990002
    </div>
    <div id="userDetail">
        <div style="padding: 20px;">
            <div class="card text-center">
<<<<<<< HEAD
                <div class="card-body">
                    <h5 class="card-title" id="nameOfUser"><%= user.firstName %> <%= user.lastName %></h5>
                    <p class="card-text" id="userEmail"><%= user.emailAddress %></p>
                </div>
=======
                <div class="card-body"> 
                    <h5 class="card-title" id="nameOfUser"><%= user.firstName %> <%= user.lastName %></h5>
                    <p class="card-text" id="userEmail"><%= user.emailAddress %></p>
                </div>  
>>>>>>> 6d92c74ece40a0d52f1533321250a130eb133bb2
            </div>
        </div>
    </div>

    <div class="container text-center"><b>Pets</b></div>
<<<<<<< HEAD

=======
>>>>>>> 6d92c74ece40a0d52f1533321250a130eb133bb2
    <div style="padding: 20px;">
        <div id="petDetail"class="container">
            <div class="row">
                <% pets.forEach(function(pet) { %>
                    <div class="col-sm-4">
                        <div class="card" style="width: 22rem;">
                            <div class="card-body">
<<<<<<< HEAD
                                <h5 class="card-title" style="color: #FF9566; font: size 20px;"><%= pet.petName %> </h5>
                                <p class="card-text" style="color: #faa24f;">Species: <%= pet.petType %></p><p class="card-text" style="color: #fdbc70;">Gender: <%= pet.petSex %></p>
                                <p class="card-text" style="color: #faa24f;">Breed: <%= pet.petBreed %></p> <p class="card-text" style="color: #fdbc70;">Weight: <%= pet.petWeight %></p>
=======
                                <h5 class="card-title" style="color: #faa24f; font: size 20px;"><%= pet.petName %> </h5>
                                <p class="card-text" style="color: #fdbc70;">Species: <%= pet.petType %></p><p class="card-text" style="color: #fdbc70;">Gender: <%= pet.petSex %></p> 
                                <p class="card-text" style="color: #fdbc70;">Breed: <%= pet.petBreed %></p> <p class="card-text" style="color: #fdbc70;">Weight: <%= pet.petWeight %></p>
>>>>>>> 6d92c74ece40a0d52f1533321250a130eb133bb2
                                <a href="../petDetail/<%= pet.petID %>" class="btn btn-outline-dark">Details</a>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
<<<<<<< HEAD
</body>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</html>
=======
    
    <!--Script for checking if current user is allowed to make changes.-->
    <script>
        window.addEventListener("load", (e) => {
			e.preventDefault();
            /*
                On window load, check if the current user is allowed to make edits to the information displayed.
                If user is not allowed to make changes, disable the buttons/links to the pages that would allow that.
                On the edit/add/delete pages, remove the ability to submit the data.
            */

            // apparenlty this does not get autoformatted as a javascript object on client side. sadface.jpg
            let cookieJar = document.cookie
            // first split, temporary array.
            const myArray = cookieJar.split(";")
            // creating a js Object to use as a dictionary.
            let cookiePlate = {}
            // split fragment on = sign to get the CookieName and CookieValue
            myArray.forEach(fragment => {
                // getting rid of some excess spaces.
                fragment = fragment.trim()
                // do the splits splits splits
                let fragmentParts = fragment.split("=")
                
                // if the fragmentPart has stuff in it, write to object//dictionary.
                if(fragmentParts.length > 1)
                {
                    let key = fragmentParts[0]
                    let value = fragmentParts[1]
                    
                    cookiePlate[key] = value
                }
            });

            console.log("EditCookie")
            
            // Checks if current user is allowed to make changes to the data (as determined serverside).
            // If there is no "EditCookie" cookie, defaults to false.
            let allowedToChange = cookiePlate["EditCookie"] === "true"
            
            // Grabs the element to be changed by name.
            let userEditHref=document.querySelectorAll('[name="userEditHref"]')[0]
            // let userEditBtn=document.querySelectorAll('[name="userEditBtn"]')[0]
            let addPetHref=document.querySelectorAll('[name="addPetHref"]')[0]
            //let addPetBtn=document.querySelectorAll('[name="addPetBtn"]')[0]
            let delHref=document.querySelectorAll('[name="delHref"]')[0]
            //let deleteBtn=document.querySelectorAll('[name="deleteBtn"]')[0]
            // changes the elements to not do anything.
            if(allowedToChange == false)
            {
                userEditHref.href="#"
                userEditHref.onclick="return false;"
                // userEditBtn.disabled=true

                addPetHref.href="#"
                addPetHref.onclick="return false;"
                // addPetBtn.disabled=true

                delHref.href="#"
                delHref.onclick="return false;"
                // deleteBtn.disabled=true
            }
            else{
                // allowed to make changes, do nothing.
            }
        });
    </script>
</body>
   
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</html>
>>>>>>> 6d92c74ece40a0d52f1533321250a130eb133bb2
