<!DOCTYPE html>
<html>
    <head>
    <%- include('../partials/head') %>
</head>

<header>
   <%- include('../partials/header') %>
</header>
<body style="background-color: #FFF0DF;">
<h1>User Edit</h1>
<a href="..\users\">Back to index</a>
<form>
	<div class="form-group">
	  <label for="userFirstName">User's First Name:</label>
	  <input type="text" class="form-control" id="userFirstNameInput" name="userFirstNameInput" aria-describedby="userFirstNameInput" value="<%= user.firstName %>">
	</div>
	<div class="form-group">
		<label for="userLastName">User's Last Name:</label>
		<input type="text" class="form-control" id="userLastNameInput" name="userLastNameInput" value="<%= user.lastName %>">
	  </div>
	  <div class="form-group">
		  <label for="userEmail">Email:</label>
		  <input type="text" class="form-control" id="userEmailInput" name="userEmailInput" value="<%= user.emailAddress %>">
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
  </form>
</body>

<footer>
    <%- include('../partials/footer') %>
</footer>
</html>