<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>

<header>
   <%- include('../partials/header') %>
</header>

<body>
    <h1 style="padding: 20px; background-color: #FFCD95;"><%= user.firstName %> <%= user.lastName %></h1>
    <div style="padding-left:20px;">
        <a name="indexBtn" class="btn btn-primary" href="/users/">Back to users index</a> | <a id="btn-edit" name="userEditBtn" class="btn btn-primary" href="../user/edit/<%= user.userID %>">Edit User</a> | <a id="btn-add" name="addPetBtn" class="btn btn-primary" href="../userDetail/addPet/<%= user.userID %>">Add Pet</a>  | <form><a method=".delete" name="deleteBtn" action="../userDetail/<%= user.userID %>?_method=DELETE">Delete</a></form>
    </div>
    <div id="userDetail">
        <div style="padding: 20px;">
            <div class="card text-center">
                <div class="card-body"> 
                    <h5 class="card-title" id="nameOfUser"><%= user.firstName %> <%= user.lastName %></h5>
                    <p class="card-text" id="userEmail"><%= user.emailAddress %></p>
                </div>  
            </div>
        </div>
    </div>

    <div class="container text-center"><b>Pets</b></div>

    <div style="padding: 20px;">
        <div id="petDetail"class="container">
            <div class="row">
                <% pets.forEach(function(pet) { %>
                    <div class="col-sm-4">
                        <div class="card" style="width: 22rem;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #faa24f; font: size 20px;"><%= pet.petName %> </h5>
                                <p class="card-text" style="color: #fdbc70;">Species: <%= pet.petType %></p><p class="card-text" style="color: #fdbc70;">Gender: <%= pet.petSex %></p> 
                                <p class="card-text" style="color: #fdbc70;">Breed: <%= pet.petBreed %></p> <p class="card-text" style="color: #fdbc70;">Weight: <%= pet.petWeight %></p>
                                <a href="../petDetail/<%= pet.petID %>" class="btn btn-outline-dark">Details</a>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
    <!--Script for checking if current user is allowed to make changes.-->
    <script>
        window.addEventListener("load", (e) => {
			e.preventDefault();
            /*
                On window load, check if the current user is allowed to make edits to the information displayed.
                If user is not allowed to make changes, disable the buttons/links to the pages that would allow that.
                On the edit/add/delete pages, remove the ability to submit the data.
            */

            // apparenlty this does not get autoformatted as a javascript object on client side. sadface.jpg
            let cookieJar = document.cookie
            // first split, temporary array.
            const myArray = cookieJar.split(";")
            // creating a js Object to use as a dictionary.
            let cookiePlate = {}
            // split fragment on = sign to get the CookieName and CookieValue
            myArray.forEach(fragment => {
                // getting rid of some excess spaces.
                fragment = fragment.trim()
                // do the splits splits splits
                let fragmentParts = fragment.split("=")
                
                // if the fragmentPart has stuff in it, write to object//dictionary.
                if(fragmentParts.length > 1)
                {
                    let key = fragmentParts[0]
                    let value = fragmentParts[1]
                    
                    cookiePlate[key] = value
                }
            });
            
            // Checks if current user is allowed to make changes to the data (as determined serverside).
            // If there is no "EditCookie" cookie, defaults to false.
            let allowedToChange = cookiePlate["EditCookie"] === "true"
            
            // Grabs the element to be changed by name.
            let userEditBtn=document.querySelectorAll('[name="userEditBtn"]')[0]
            let addPetBtn=document.querySelectorAll('[name="addPetBtn"]')[0]
            let deleteBtn=document.querySelectorAll('[name="deleteBtn"]')[0]
            // changes the elements to not do anything.
            if(allowedToChange == false)
            {
                userEditBtn.href="#"
                userEditBtn.onclick="return false;"

                addPetBtn.href="#"
                addPetBtn.onclick="return false;"
                
                deleteBtn.href="#"
                deleteBtn.onclick="return false;"
            }
            else{
                // allowed to make changes, do nothing.
            }
        });
    </script>
</body>
   
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</html>